MIDI-CV-prototype/MIDI-CV-prototype/bin/
MIDI-CV-prototype/MIDI-CV-prototype/obj/
MCPDAC/MCPDAC.cpp
MCPDAC/MCPDAC.h
MCPDAC/examples/TriangleWave/TriangleWave.ino
MIDI_CV_firmware/SPITest/Debug/
MIDI_CV_firmware/MIDI_CV_firmware/Debug/
MIDI_CV_firmware/SerialTest/Debug/
MIDI_CV_firmware/TimerTests/Debug/
drivers/
MIDI_CV_firmware/AnalogTests/Debug/
*.atsuo
MIDI_CV_firmware/LCDScreen/Debug/
MIDI_CV_firmware/SPITestCPP/Debug/
MIDI_CV_firmware/UsbTests/Debug/
